@page
@model Final.Pages.Posts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>CraigList</h1>

<p>
    <a asp-page="Create">Create Post</a>
    <br>
    <a asp-page="Favorites">Favorites</a>
</p>

<form asp-action ="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find post: <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-default"/>
            <a asp-action="./Index">Back to all posts</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Post) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>

                <a asp-page="./Details" asp-route-id="@item.PostID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PostID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
